
:root{
    --btnGreen:#33b18d;
    --border: black;
    --hover: #776e7625;
    --btnHover:#eee;
    --fontColor: white;
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.topPart{
    display: flex;
    justify-content: space-between;
    margin: 10px 80px;
    border-bottom: 2px solid var(--border);
    
}

.topPart button{
    width: 100px;
    margin:0px 20px 5px 0px;
    border-radius: 5px;
    border: none;
    background-color: var(--btnGreen);
    cursor: pointer;
    color: var(--fontColor);
    font-size: 1.2em;
    
}

.topPart button:hover{
    
    color: red;
}

.bottomPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.bottomPart input{
    margin-right: 10px;
    height: 30px;
    width: 500px;
    padding-left: 20px;
    border: none;
    background-color: var(--btnHover);
    border-radius: 5px;
    
}

.bottomPart select{
    margin-right: 10px;
    height: 30px;
    width: 100px;
    border: none;
    background-color: var(--btnGreen);
    border-radius: 5px;
    cursor: pointer;
}

.bottomPart button{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    color: var(--btnHover);
    font-size: 2.2em;
    background-color: var(--btnGreen);
    cursor: pointer;

    
}

.bottomPart button:hover{
    background-color: var(--hover);
    color: var(--border);
    font-size: 1.6em;
}

.input-fields {
    display: flex;
    align-items: center;
}



/* Task list*/


.task-list{
    width: 600px;
    margin-right: 60px;
}

.item{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px .5px var(--btnGreen);
    
}
.items{
    padding: 5px 0;
}

.item button{
    border: none; 
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color:var(--btnGreen);
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 3px 8px var(--btnGreen);
    
}
.tick1{
    font-size: 30px;
}
.tick2{
    font-size: 30px;
}
.tick3{
    font-size: 30px;
}
.task-list .tick1:hover{
    color: green;
    font-size: 28px;
}

.task-list .tick2:hover{
    color: orange;
    font-size: 28px;
}

.task-list .tick3:hover{
    color: red;
    font-size: 28px;
}














